
button{
    margin: 10px;
}
#leyenda{
    text-align: justify;
}


canvas {
    border-style: solid;

}


#static-canvas{
    z-index: 1;
    position: absolute;
    
}

#dinamic-canvas{
    position: absolute;
    z-index: 2;
    
}